body{
  background-color:  rgb(171, 199, 186);
}

div.foto{
  float: left;
  width: 20%;
  height: 200px;
  background-color: bisque;
  text-align: center;
}
div.nombre{
  float: left;
  width: 40%;
  height: 200px;
  background-color: rgb(94, 58, 15) ;

}


div.centrado{
  float: right;
  width: 60%;
  height: 100px;
  background-color: blueviolet;
}

